@* Definindo a classe Model para capturar os campos do formulário desta
página *@
@model ContasApp.Presentation.Models.AccountRegisterViewModel

@{
    //definindo o layout da página
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center">
    <h4>Criar conta de usuário</h4>
    <p>
     Informe os dados de sua empresa para criar uma conta de acesso
    </p>
    <hr />
</div>

<div class="mb-2 text-center">
    <strong>@TempData["Mensagem"]</strong>
</div>

@using(Html.BeginForm())
{
<div class="mb-2">
<label>Informe o nome da empresa:</label>
@Html.TextBoxFor(model => model.Nome,
new { @class = "form-control",

@placeholder = "Ex: SuperMercados BoaEconomia" })

<span class="text-danger">
   @Html.ValidationMessageFor(model => model.Nome)
</span>

</div>

<div class="mb-2">
<label>Informe o email:</label>
@Html.TextBoxFor(model => model.Email,
new { @class = "form-control",
@placeholder = "Ex: supermercadobe@gmail.com" })

<span class="text-danger">
@Html.ValidationMessageFor(model => model.Email)
</span>

</div>

<div class="mb-2">
<label>Informe a senha:</label>
@Html.PasswordFor(model => model.Senha,
new { @class = "form-control"})

<span class="text-danger">
@Html.ValidationMessageFor(model => model.Senha)
</span>

</div>

<div class="mb-2">
<label>Confirme sua senha:</label>
@Html.PasswordFor(model => model.SenhaConfirm,
new { @class = "form-control" })

<span class="text-danger">
@Html.ValidationMessageFor(model => model.SenhaConfirm)
</span>

</div>
    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary"
               value="Realizar Cadastro" />
    </div>
    <div class="mb-2 text-center">
        Já possui conta?
        <a href="/Account/Login">Acesse aqui!</a>
    </div>
}